<div class="headline">
	<h1>Coming soon...</h1>
	<p>Enter your email address and we'll let you know as soon as it's ready.</p>
	<div class="inquiry-form">
		<%= form_for @inquiry do |f| %>
			<%= f.text_field :email %>
			<%= f.submit 'Subscribe' %>
		<% end %>
		
		<% if @inquiry.errors.any? %>  
			<div class="alert alert-error">
				<ul>  
			    <% for message in @inquiry.errors.full_messages %>  
			    	<li><%= message %></li>  
			    <% end %>  
			  </ul>  
			</div>  
		<% end %>
	</div>
</div>