body {
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	/* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: georgia, serif;
	background-color: #333;

}

.headline h1 {
	margin-bottom: 0px;
}

.headline {
	float: right;
	margin-right: 15px;
	margin-top: 50px;
}


